.text-area {
    border-radius: 10px;
    background-color: #6c707054;
    padding: 20px;
    width: calc(45% - 10px);
    transition: 0.3s ease;
    margin: auto;
    margin-top: 20px;
}

.inner {
    color: white;
    background-color: rgb(52, 50, 50);
}
